.TaskLogger {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
   
    flex-direction: row ;
    padding-top: 114px ;
    height: 550px;
    
}



@media (max-width: 499px) {
    .TaskLogger {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
        padding-top: 114px ;
        flex-direction: column ;
        padding-top: 120px;
        height: auto;
        position: relative;
      
    }
}

