.ErrorMsg{
    color: red;
    font-size: small;
    text-align : center;
    min-height: 20px;
    margin-top: 70px;
    
}

.Auth {
    margin: 10px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    margin-top:0px;
}

.Auth .Submit {
   
    width: 96%;
}

@media (min-width: 600px) {
    .Auth {
        width: 60%;
    }
    .Auth .Submit {
   
        width: 98%;
    }
    .ErrorMsg{
        color: red;
        font-size: small;
        text-align : center;
        min-height: 30px;
        margin-top: 130px;
        
    }
}